3.Template/Sbj.Template/.vs/Sbj.Template/DesignTimeBuild/.dtbcache.v2
3.Template/Sbj.Template/.vs/Sbj.Template/v16/.suo
3.Template/Sbj.Template/Sbj.Template.Control/obj/project.assets.json
3.Template/Sbj.Template/Sbj.Template.Control/obj/project.nuget.cache
3.Template/Sbj.Template/Sbj.Template.Control/obj/Sbj.Template.Control.csproj.nuget.dgspec.json
3.Template/Sbj.Template/Sbj.Template.Control/obj/Sbj.Template.Control.csproj.nuget.g.props
3.Template/Sbj.Template/Sbj.Template.Control/obj/Sbj.Template.Control.csproj.nuget.g.targets
3.Template/Sbj.Template/Sbj.Template.Control/obj/Debug/net5.0-windows/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
3.Template/Sbj.Template/Sbj.Template.Control/obj/Debug/net5.0-windows/App.g.i.cs
3.Template/Sbj.Template/Sbj.Template.Control/obj/Debug/net5.0-windows/MainWindow.g.i.cs
3.Template/Sbj.Template/Sbj.Template.Control/obj/Debug/net5.0-windows/Sbj.Template.Control_MarkupCompile.i.cache
3.Template/Sbj.Template/Sbj.Template.Control/obj/Debug/net5.0-windows/Sbj.Template.Control_MarkupCompile.i.lref
3.Template/Sbj.Template/Sbj.Template.Control/obj/Debug/net5.0-windows/Sbj.Template.Control.AssemblyInfo.cs
3.Template/Sbj.Template/Sbj.Template.Control/obj/Debug/net5.0-windows/Sbj.Template.Control.AssemblyInfoInputs.cache
3.Template/Sbj.Template/Sbj.Template.Control/obj/Debug/net5.0-windows/Sbj.Template.Control.assets.cache
3.Template/Sbj.Template/Sbj.Template.Control/obj/Debug/net5.0-windows/Sbj.Template.Control.csproj.AssemblyReference.cache
3.Template/Sbj.Template/Sbj.Template.Control/obj/Debug/net5.0-windows/Sbj.Template.Control.designer.deps.json
3.Template/Sbj.Template/Sbj.Template.Control/obj/Debug/net5.0-windows/Sbj.Template.Control.designer.runtimeconfig.json
3.Template/Sbj.Template/Sbj.Template.Control/obj/Debug/net5.0-windows/Sbj.Template.Control.GeneratedMSBuildEditorConfig.editorconfig
3.Template/Sbj.Template/Sbj.Template/bin/Debug/net5.0-windows/Sbj.Template.deps.json
3.Template/Sbj.Template/Sbj.Template/bin/Debug/net5.0-windows/Sbj.Template.dll
3.Template/Sbj.Template/Sbj.Template/bin/Debug/net5.0-windows/Sbj.Template.exe
3.Template/Sbj.Template/Sbj.Template/bin/Debug/net5.0-windows/Sbj.Template.pdb
3.Template/Sbj.Template/Sbj.Template/bin/Debug/net5.0-windows/Sbj.Template.runtimeconfig.dev.json
3.Template/Sbj.Template/Sbj.Template/bin/Debug/net5.0-windows/Sbj.Template.runtimeconfig.json
3.Template/Sbj.Template/Sbj.Template/bin/Debug/net5.0-windows/ref/Sbj.Template.dll
3.Template/Sbj.Template/Sbj.Template/obj/project.assets.json
3.Template/Sbj.Template/Sbj.Template/obj/project.nuget.cache
3.Template/Sbj.Template/Sbj.Template/obj/Sbj.Template.csproj.nuget.dgspec.json
3.Template/Sbj.Template/Sbj.Template/obj/Sbj.Template.csproj.nuget.g.props
3.Template/Sbj.Template/Sbj.Template/obj/Sbj.Template.csproj.nuget.g.targets
3.Template/Sbj.Template/Sbj.Template/obj/Debug/net5.0-windows/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
3.Template/Sbj.Template/Sbj.Template/obj/Debug/net5.0-windows/App.g.cs
3.Template/Sbj.Template/Sbj.Template/obj/Debug/net5.0-windows/App.g.i.cs
3.Template/Sbj.Template/Sbj.Template/obj/Debug/net5.0-windows/apphost.exe
3.Template/Sbj.Template/Sbj.Template/obj/Debug/net5.0-windows/MainWindow.baml
3.Template/Sbj.Template/Sbj.Template/obj/Debug/net5.0-windows/MainWindow.g.cs
3.Template/Sbj.Template/Sbj.Template/obj/Debug/net5.0-windows/MainWindow.g.i.cs
3.Template/Sbj.Template/Sbj.Template/obj/Debug/net5.0-windows/Sbj.Template_MarkupCompile.cache
3.Template/Sbj.Template/Sbj.Template/obj/Debug/net5.0-windows/Sbj.Template_MarkupCompile.i.cache
3.Template/Sbj.Template/Sbj.Template/obj/Debug/net5.0-windows/Sbj.Template_MarkupCompile.i.lref
3.Template/Sbj.Template/Sbj.Template/obj/Debug/net5.0-windows/Sbj.Template_MarkupCompile.lref
3.Template/Sbj.Template/Sbj.Template/obj/Debug/net5.0-windows/Sbj.Template.AssemblyInfo.cs
3.Template/Sbj.Template/Sbj.Template/obj/Debug/net5.0-windows/Sbj.Template.AssemblyInfoInputs.cache
3.Template/Sbj.Template/Sbj.Template/obj/Debug/net5.0-windows/Sbj.Template.assets.cache
3.Template/Sbj.Template/Sbj.Template/obj/Debug/net5.0-windows/Sbj.Template.csproj.AssemblyReference.cache
3.Template/Sbj.Template/Sbj.Template/obj/Debug/net5.0-windows/Sbj.Template.csproj.CoreCompileInputs.cache
3.Template/Sbj.Template/Sbj.Template/obj/Debug/net5.0-windows/Sbj.Template.csproj.FileListAbsolute.txt
3.Template/Sbj.Template/Sbj.Template/obj/Debug/net5.0-windows/Sbj.Template.designer.deps.json
3.Template/Sbj.Template/Sbj.Template/obj/Debug/net5.0-windows/Sbj.Template.designer.runtimeconfig.json
3.Template/Sbj.Template/Sbj.Template/obj/Debug/net5.0-windows/Sbj.Template.dll
3.Template/Sbj.Template/Sbj.Template/obj/Debug/net5.0-windows/Sbj.Template.g.resources
3.Template/Sbj.Template/Sbj.Template/obj/Debug/net5.0-windows/Sbj.Template.GeneratedMSBuildEditorConfig.editorconfig
3.Template/Sbj.Template/Sbj.Template/obj/Debug/net5.0-windows/Sbj.Template.genruntimeconfig.cache
3.Template/Sbj.Template/Sbj.Template/obj/Debug/net5.0-windows/Sbj.Template.pdb
3.Template/Sbj.Template/Sbj.Template/obj/Debug/net5.0-windows/ref/Sbj.Template.dll
